
<!DOCTYPE html>
<html>
<head>
  <meta charset="gb2312">
  <title>目录管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/ui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/modules/metroStyle/metroStyle.css" />
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	  <script src="../../layuiadmin/lib/extend/html5.min.js"></script>
	  <script src="../../layuiadmin/lib/extend/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div class="layui-fluid"> 
    <div class="layui-card">
      <div class="layui-card-header">文档目录管理</div>
	  	<div class="layui-card-body layui-row">
	  		<!--文档树-->
	  		<div class="layui-col-sm3 pdr-5 layui-col-md3">
	  			<div class="layui-card layui-card2">
			        <div class="layui-card-header">添加常用功能</div>
			        <div class="layui-card-body">
							    <ul id="treeDemo" class="ztree"></ul>
							</div>
			    </div>
	  		</div>
	  		<!--目录信息-->
	  		<div class="layui-col-sm9 pdl-5 layui-col-md9">
	  			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
			  		<ul class="layui-tab-title">
					    <li class="layui-this">目录信息</li>
					    <li>目录权限</li>
					  </ul>
					  <div class="layui-tab-content">
					  	<div class="layui-tab-item layui-show ">
					  		<!--搜索条件 -->
					  		<form class="layui-form layui-row layui-col-space10" action="">
			
					          <div class="layui-col-sm6 layui-col-md6">
					            <label class="layui-form-label">目录名称</label>
					            <div class="layui-input-block">
					              	<input type="text" name="orderTheme" placeholder="请输入" autocomplete="off" class="layui-input">
					            </div>
					          </div>
					          <div class="layui-col-sm6 layui-col-md6">
					            <label class="layui-form-label">父目录</label>
					            <div class="layui-input-block relative">
				              	<input type="text" name="ticket" placeholder="" autocomplete="off" class="layui-input">
				              	<span class="layui-choice js_choice" data-type="choice">选择</span>
				              </div>
					          </div>
					          <div class="layui-col-sm6 layui-col-md6">
					            <label class="layui-form-label">是否需要审核</label>
					            <div class="layui-input-block">
					            	<input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
					            </div>
					          </div>
					          <div class="layui-col-sm6 layui-col-md6">
					            <label class="layui-form-label">审核人</label>
					            <div class="layui-input-block relative">
				              	<input type="text" name="ticket" placeholder="" autocomplete="off" class="layui-input">
				              	<span class="layui-choice js_choice" data-type="executor">选择</span>
				              </div>
					          </div>
					          <div class="layui-col-sm12 layui-col-md12">
							        <label class="layui-form-label">备注</label>
							        <div class="layui-input-block">
							          	<textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
							        </div>
							      </div>
							      <div class="layui-col-sm12 layui-col-md12">
							        <label class="layui-form-label"></label>
							        <div class="layui-input-block">
							          <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="LAY-user-front-search">确认</button>
			              		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							        </div>
							      </div>
					      </form>
					  	</div>
					    <div class="layui-tab-item">
					    	<!--搜索条件 -->
					  		<form class="layui-form">			
					          <div class="layui-form-item">
									    <label class="layui-form-label">选择权限分类</label>
									    <div class="layui-input-inline">
									      <select name="classify" lay-filter="">
									        <option value="0">部门</option>
									        <option value="1" selected="">人员</option>
									      </select>
									    </div>
									  </div>
					      </form>
					      <!--分类选择树 -->
					      <div class="layui-row">
					      	<div class="layui-col-sm6 pdr-10 layui-col-md6">
					      		<!--可阅读-->
						  			<div class="layui-card layui-card2">
								        <div class="layui-card-header">可阅读</div>
								        <div class="layui-card-body" style="height:240px;overflow-y: auto;">
												    <ul id="readTree" class="ztree"></ul>
												</div>
								    </div>
						  		</div>
						  		<!--可编辑-->
						  		<div class="layui-col-sm6 pdl-10 layui-col-md6">
						  			<div class="layui-card layui-card2">
								        <div class="layui-card-header">可编辑</div>
								        <div class="layui-card-body" style="height:240px;overflow-y: auto;">
												    <ul id="editTree" class="ztree"></ul>
												</div>
								    </div>
						  		</div>
	  		
					      </div>
					      <!--按钮-->
					      <div class="layui-col-sm12 mgt-10 layui-col-md12" align="center">
					          <button class="layui-btn layui-btn-normal" id="submitTree">确认</button>
	              		<button type="reset" class="layui-btn layui-btn-primary">取消</button>
					        
					      </div>
					    	
					    </div>
					  </div>
					</div>
	  			
	  		</div>
	  	</div>
    </div>
</div>
<div id="rMenu">
    <a href="javascript:;" class="list-item" id="m_add">新增目录</a>
    <a href="javascript:;" class="list-item" id="m_rename">修改目录</a>
    <a href="javascript:;" class="list-item" id="m_del">删除目录</a>
</div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script src="../../layuiadmin/modules/maintainOrder/catalogManage.js"></script>
<script>
 layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index',
    jqZtreeCore: 'lib/extend/jqZtreeCore'//主入口模块
  }).use('index','jqZtreeCore');
</script> 
</body>
</html>