
<!DOCTYPE html>
<html>
<head>
  <meta charset="gb2312">
  <title>附件列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/ui.css" media="all">
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	  <script src="../../layuiadmin/lib/extend/html5.min.js"></script>
	  <script src="../../layuiadmin/lib/extend/respond.min.js"></script>
	<![endif]-->
</head>
<body class="layui-bg-white">
	<div class="layui-fluid">
		<div class="" align="right">
	    <button class="layui-btn layui-btn-normal layui-sm" data-type="getCheckData">下载</button>
	  </div>
		<table id="LAY-tfile-list" lay-filter="layTfile" lay-size="sm"></table>
		
	</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
//form 表单示例
layui.use(['element','table'], function(){
	var $ = layui.jquery
		,table = layui.table
		,element = layui.element;
		
		
	table.render({
      elem: '#LAY-tfile-list'
      ,height: ''
//    ,url: layui.setter.base + 'json/console/top-search.js' //模拟接口
      ,page: true
      ,cols: [[ //标题栏
      		{type:'checkbox'}
	      ,{field: 'name', title: '附件名'}
	      ,{field: 'uploadLink', title: '上传环节', minWidth: 120}
	      ,{field: 'uploadBranch', title: '上传人部门', minWidth: 120}
	      ,{field: 'uploadUear', title: '上传人'}
	      ,{field: 'uploadTime', title: '上传时间'}
	      ,{field: 'size', title: '大小'}
	    ]]
      ,size:'sm'//控制表格样式
      ,limit:'10'
      ,id:'fileTable'
      ,data: [{
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    },
      {
	      "name": "1223343qwsqw"
	      ,"uploadLink": "申请发起"
	      ,"uploadBranch": "部门"
	      ,"uploadUear": "客服发起人[系统系统系统]"
	      ,"uploadTime": "2018-04-23 12:00:00"		      
	      ,"size": "212k"
	    }]
          
	});
  var $ = layui.$, active = {
    getCheckData: function(){ //获取选中数据
      var checkStatus = table.checkStatus('fileTable')
      ,data = checkStatus.data;
      layer.alert(JSON.stringify(data));
    }
  };
  
  $('.layui-btn').on('click', function(){
	  var type = $(this).data('type');
	  active[type] && active[type].call(this);
	});
})
</script>
</body>
</html>
