
<!DOCTYPE html>
<html>
<head>
  <meta charset="gb2312">
  <title>首页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/ui.css" media="all">
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	  <script src="../../layuiadmin/lib/extend/html5.min.js"></script>
	  <script src="../../layuiadmin/lib/extend/respond.min.js"></script>
	  <link rel="stylesheet" href="../../layuiadmin/style/ie8.css" media="all">
	<![endif]-->
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md10">    
        <div class="layui-card">
          <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
						  <ul class="layui-tab-title">
						    <li class="layui-this">个人待办<span class="layui-badge">9</span></li>
						    <li>部门/岗位待办<span class="layui-badge">99+</span></li>
						    <li>开通待办<span class="layui-badge">9</span></li>
						    <li>资源待办<span class="layui-badge">9</span></li>
						  </ul>
						  <div class="layui-tab-content">
						  	<div class="layui-tab-item layui-show">
						  		<div class="layui-badge-box clearfix">
						  			<ul class="fl ">
						  				<li><span class="layui-badge-dot"></span>超时</li>
						  				<li><span class="layui-badge-dot layui-bg-orange"></span>预警</li>
						  				<li><span class="layui-badge-dot layui-bg-gray"></span>正常</li>
						  			</ul>	
						  			<a href="#" class="fr">更多 &gt; </a>
						  		</div>
						  		
						  		<table id="LAY-index-topSearch" lay-size="sm"></table>
						  	</div>
						    <div class="layui-tab-item">内容2</div>
						    <div class="layui-tab-item">内容3</div>
						    <div class="layui-tab-item">内容4</div>
						  </div>
						</div> 
        </div>
      </div>  
      <div class="layui-col-md2">
        <div class="layui-card">
          <div class="layui-card-header">
          	常用功能
          	<span id="manageBtn" class="layui-tips">管理</span>
          	<span id="fulfillBtn" class="layui-tips none">完成</span>
          </div>
          <div class="layui-card-body" style="height: 208px;">
            <div class="layuiadmin-card-link">
            	<div class="manageBox js-manage">
            		<!--<a class="manage-a" id="repairOrder">待办工单汇总</a>-->
            		<a class="manage-a" lay-href="javascript:;">我创建的工单我创建的工单</a>
	              
	              <a class="manage-a" lay-href="javascript:;">我创建的工单</a> 
	              <a class="manage-a" lay-href="javascript:;">操作四操作四</a> 
	              <a class="manage-a" lay-href="javascript:;">操作五</a> 
	              <a class="manage-a" lay-href="javascript:;">操作六操作六操作六</a>
            	</div>
              
	          	<button class="layui-btn layui-btn-primary layui-btn-xs js-add-btn">
                <i class="layui-icon layui-icon-add-1" style="position: relative; top: -1px;"></i>添加
              </button>
              
            </div>        
          </div>
        </div>
        
        <div class="layui-card">
          <div class="layui-card-header">快捷入口</div>
          <div class="layui-card-body" style="height:150px;">
            <ul class="layui-row layuiadmin-card-team">
              <li class="layui-col-xs6">
                <a lay-href="http://www.layui.com/doc/modules/table.html">集团待办工单</a>
              </li>
              <li class="layui-col-xs6">
                <a lay-href="http://www.layui.com/doc/modules/layim.html">即时通讯</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    
    	<div class="layui-col-md6">
    		<div class="layui-card">
          <div class="layui-card-header">
          	值班计
          	<span class="layui-mark">(您正在值班中...)</span>
          	<a lay-href="javascript:;" class="layui-a-tips">更多</a>
          </div>
          <div class="layui-card-body">
            <table class="layui-table" lay-size="sm">
						  <colgroup>
						    <col width="100">
						    <col>
						    <col width="100">
						    <col>
						  </colgroup>
						  <tbody>
						    <tr>
						      <th>值班开始时间:</th>
						      <td>2018-04-13 07:22:22</td>
						      <th>下个班次</th>
						      <td>晚班</td>
						    </tr>
						    <tr>
						      <th>班次:</th>
						      <td>白班(06:00:00 至 20:30:00)</td>
						      <th>下个班次人员</th>
						      <td>新疆移动通信公司系统管理员</td>
						    </tr>
						    <tr>
						      <th>班次人员:</th>
						      <td>新疆移动通信公司系统管理员</td>
						      <th></th>
						      <td></td>
						    </tr>
						  </tbody>
						</table>  
          </div>
        </div>
    	</div>
    	<div class="layui-col-md6">
    		<div class="layui-card">
          <div class="layui-card-header">
          	作业计划
          	<a lay-href="javascript:;" class="layui-a-tips">更多</a>
          </div>
          <div class="layui-card-body">
            <ul class="layui-row layadmin-backlog layui-col-space10">
              <li class="layui-col-xs4">
                <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                  <h3>待审评论</h3>
                  <p><cite>66</cite></p>
                </a>
              </li>
              <li class="layui-col-xs4">
                <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                  <h3>待审帖子</h3>
                  <p><cite>12</cite></p>
                </a>
              </li>
              <li class="layui-col-xs4">
                <a lay-href="template/goodslist.html" class="layadmin-backlog-body">
                  <h3>待审商品</h3>
                  <p><cite>99</cite></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
    	</div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script src="../../layuiadmin/modules/home/homepage.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  </script>
</body>
</html>