
<!DOCTYPE html>
<html class="layui-bg-white">
<head>
  <meta charset="gb2312">
  <title>短信</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/ui.css" media="all">
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	  <script src="../../layuiadmin/lib/extend/html5.min.js"></script>
	  <script src="../../layuiadmin/lib/extend/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<form class="layui-fluid layui-form" lay-filter="example" action="">
		<p class="mgb-10">1、你想接收的短信提醒类型：</p>
		<div class="mgt-5"><input type="checkbox" name="1" lay-skin="primary" title="工单到达提醒" checked=""></div>
		<div class="mgt-5"><input type="checkbox" name="2" lay-skin="primary" title="工单处理超时前提醒"></div>
		<div class="mgt-5"><input type="checkbox" name="3" lay-skin="primary" title="工单处理超时后提醒" checked=""></div>
		<div class="mgt-5"><input type="checkbox" name="4" lay-skin="primary" title="工单受理超时前提醒"></div>
		<div class="mgt-5"><input type="checkbox" name="5" lay-skin="primary" title="工单受理超时后提醒" checked=""></div>
		
		<p class="mgb-10 mgt-10">1、你想接收哪些工单类型的短信提醒：</p>
		<div class="mgt-5"><input type="checkbox" name="6" lay-skin="primary" title="投诉处理工单" checked=""></div>
		<div class="mgt-5"><input type="checkbox" name="7" lay-skin="primary" title="故障处理工单"></div>
		<div class="mgt-5"><input type="checkbox" name="8" lay-skin="primary" title="维护任务工单" checked=""></div>
		<div class="mgt-5"><input type="checkbox" name="9" lay-skin="primary" title="普通申请工单"></div>
		<div class="mgt-5"><input type="checkbox" name="10" lay-skin="primary" title="机房进入审批单" checked=""></div>
		<div class="mgt-15" style="display: none;">
	      <button class="layui-btn js_submint" lay-submit="" lay-filter="example">立即提交</button>
		</div>
	</form>
	
</body>

<script src="../../layuiadmin/layui/layui.js"></script>
<script type="text/javascript">
layui.use(['form','element'], function(){
	var $ = layui.jquery
		,form = layui.form
		,element = layui.element;
		
	//监听提交
  form.on('submit(example)', function(data){
    layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })
    return false;
  });
})
</script>
</html>
